.home {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: crimson;
}

.home h1 a {
    color: tomato;
    text-decoration: none;
}

.home h1 {
    text-align: center;
}

.home h2 {
    color: blueviolet;
}

span{
    color: azure;
}

main h3 {
    text-align: center;
    color: azure;
}

main div {
    border-style: dashed;
    border-color: tomato;
    border-radius: 4px;
    margin: 4px;
    padding: 4px;
}

main div details{
    color: azure;
}

main div p {
    color: azure;
}

main div:hover {
    border-color: azure;
}

main div ul li{
    color: azure;
    display: table;
}

main > div > ul {
    list-style: none;
}
 
main > div > ol {
    list-style: none; 
    counter-reset: li
}

.contact div ul li::before{
    content: none;
}

.contact > div > form:hover {
    border-color: azure;
}

main.contact div ul li{
    display: inline-block;
    color: transparent;
    border-color: transparent;
}

main.contact div ul li a{
    color: transparent;
    border-color: transparent;
}

main.contact div ul li a:hover{
    color: white;
    border-color: white;
    border-style: dashed;
}

main > div > ul li::before {
    content: "\2022"; 
    color: whitesmoke; 
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
  }

  main > div > ol li::before {
    content: counter(li);
    counter-increment: li;
    color: whitesmoke; 
    font-weight: bold; 
    display: inline-block;
    width: 1em; 
    margin-left: -1em; 
  }

main div ol li{
    color: azure;
    display: block;
}

ul li .corrente {
    border-style: solid;
    border-color: azure;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    color: blueviolet;
}

main.contact > div > form{
    border-style: dashed;
    border-color: tomato;
    padding: 5px;
}

main.contact > div > form > button{
    border-style: dotted;
    border-color: tomato;
    border-radius: 25px;
    color: darkorchid;
    background-color: transparent;
    padding: 5px;
}

main.contact > div > form > button:hover{
    border-style: dotted;
    border-color: darkorchid;
    border-radius: 25px;
    color: white;
    background-color: transparent;
    padding: 5px;
}

main.contact > div > #sociais{
    text-align: center;
}

ul li .corrente:hover {
    border-style: solid;
    border-color: black;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    color: lawngreen;
}

ul li a {
    border-style: solid;
    border-color: blueviolet;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    color: azure;
}

ul li a:hover {
    border-style: solid;
    border-color: black;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    color: lawngreen;
}

p {
    text-align: center;
}

li {
    display: inline-block;
}

.rodape>p {
    color: blueviolet;
}